<div class="greybackground">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form name="userForm" class="settings" ng-submit="vm.update()" enctype="multipart/form-data">
                    <md-card ng-show="vm.profile" class="single-card">
                        <md-card-title>
                            <h1 class="cardformheader">Settings</h1>
                        </md-card-title>
                        <md-card-content>
                            <div id="toastBounds"></div>
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="Personal">
                                    <md-content class="md-padding">
                                        <div ng-messages="vm.errors" class="text-center red">
                                            <div ng-message="non_field_errors">{{ vm.formErrors.non_field_errors }}</div>
                                        </div>
                                        <div ng-messages="vm.errors" class="red">
                                            <div ng-message="avatar">{{ vm.formErrors.avatar }}</div>
                                        </div>
                                        <md-input-container class="md-block text-right">
                                            <ng-cropper-upload name="avatar" image="vm.profile.avatar"
                                                               crop="vm.profile.crop" preview="cropperPreview">
                                            </ng-cropper-upload>
                                            <div id="cropperPreview" class="text-center preview preview-avatar">
                                                <img ngf-src="vm.profile.avatar || '/static/img/profile_default.png'"
                                                     class="avatarlg"/>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>First Name</label>
                                            <input name="first_name" ng-model="vm.profile.first_name" type="text"
                                                   md-maxlength="50">
                                            <div ng-messages="userForm.first_name.$error">
                                                <div ng-message="md-maxlength">Cannot exceed 50 characters.</div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="first_name">{{ vm.formErrors.first_name }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Last Name</label>
                                            <input name="last_name" ng-model="vm.profile.last_name" type="text"
                                                   md-maxlength="50">
                                            <div ng-messages="userForm.last_name.$error">
                                                <div ng-message="md-maxlength">Cannot exceed 50 characters.</div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="last_name">{{ vm.formErrors.last_name }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Phone Number</label>
                                            <input name="mobile" ng-model="vm.profile.mobile" type="text"
                                                   ui-mask="(999) 999-9999" placeholder=""
                                                   ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/">
                                            <div ng-messages="userForm.mobile.$error">
                                                <div ng-message="pattern">(###) ###-#### - Please enter a valid phone
                                                    number.
                                                </div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="mobile">{{ vm.formErrors.mobile }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Address</label>
                                            <input name="address1" ng-model="vm.address.address1" type="text"
                                                   md-maxlength="150">
                                            <div ng-messages="userForm.address1.$error">
                                                <div ng-message="md-maxlength">Cannot exceed 150 characters.</div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="address1">{{ vm.formErrors.address1 }}</div>
                                            </div>
                                        </md-input-container>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-5">
                                                <md-input-container class="md-block">
                                                    <label>City</label>
                                                    <input name="city" ng-model="vm.address.city" type="text"
                                                           md-maxlength="50">
                                                    <div ng-messages="userForm.city.$error">
                                                        <div ng-message="md-maxlength">Cannot exceed 50 characters.
                                                        </div>
                                                    </div>
                                                    <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                        <div ng-message="city">{{ vm.formErrors.city }}</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-4 col-md-3">
                                                <md-input-container class="md-block">
                                                    <label>State</label>
                                                    <md-select ng-model="vm.address.state">
                                                        <md-option ng-repeat="state in vm.states"
                                                                   value="{{ state.abbrev }}">{{ state.abbrev }}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                        <div ng-message="state">{{ vm.formErrors.state }}</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div class="col-xs-8 col-md-4">
                                                <md-input-container class="md-block">
                                                    <label>Zip Code</label>
                                                    <input name="zip" ng-model="vm.address.zip"
                                                           ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                                                    <div ng-messages="userForm.zip.$error">
                                                        <div ng-message="pattern" class="my-message">That doesn't look
                                                            like a valid postal code.
                                                        </div>
                                                        <div ng-message="md-maxlength" class="my-message">
                                                            Please use the 5 digit zip code.
                                                        </div>
                                                    </div>
                                                    <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                        <div ng-message="zip">{{ vm.formErrors.zip }}</div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="form-group text-right">
                                            <md-button class="btn md-raised md-primary btn-default" type="button"
                                                       md-ink-ripple="#e9e9e9" ng-click="vm.update($event)">
                                                <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate"
                                                                      ng-show="vm.loading" md-diameter="30">
                                                </md-progress-circular>
                                                <span ng-hide="vm.loading">Save</span>
                                            </md-button>
                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Chef" ng-if="vm.profile.is_chef">
                                    <md-content class="md-padding">
                                        <div ng-messages="vm.errors" class="text-center red">
                                            <div ng-message="non_field_errors">{{ vm.formErrors.non_field_errors }}</div>
                                        </div>
                                        <md-input-container class="md-block">
                                            <label>Tagline</label>
                                            <textarea name="tagline" ng-model="vm.chef.tagline" md-maxlength="150"
                                                      rows="5" md-select-on-focus></textarea>
                                            <div ng-messages="userForm.tagline.$error">
                                                <div ng-message="md-maxlength">Cannot exceed 150 characters.</div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="tagline">{{ vm.formErrors.tagline }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Short Bio</label>
                                            <textarea name="bio" ng-model="vm.chef.bio" md-maxlength="500" rows="5"
                                                      md-select-on-focus></textarea>
                                            <div ng-messages="userForm.bio.$error">
                                                <div ng-message="maxlength">Cannot exceed 500 characters.</div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="bio">{{ vm.formErrors.bio }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block topspace50">
                                            <label style="margin-bottom: 25px;">Options</label>
                                            <div class="col-sm-6">
                                                <md-switch ng-model="vm.chef.delivery" class="md-warn">
                                                    {{ vm.chef.delivery ? "Delivery Available" : "No Delivery"}}</md-switch>
                                            </div>
                                            <div class="col-sm-6">
                                                <md-switch ng-model="vm.chef.pickup" class="md-warn">
                                                    {{ vm.chef.pickup ? "Pick Up Available" : "No Pick Up"}}</md-switch>
                                            </div>
                                            <div class="col-sm-12">
                                                <md-switch ng-model="vm.chef.credit" class="md-warn">
                                                    {{ vm.chef.credit ? "Credit Cards Accepted" : "Cash Only"}}</md-switch>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Main Cuisine</label>
                                            <md-select ng-model="vm.chef.cuisine">
                                                <md-option ng-repeat="cuisine in vm.cuisines"
                                                           value="{{ cuisine }}">{{ cuisine }}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="cuisine">{{ vm.formErrors.cuisine }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Kitchen Type</label>
                                            <md-select ng-model="vm.chef.type">
                                                <md-option ng-repeat="type in vm.types"
                                                           value="{{ type }}">{{ type }}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="type">{{ vm.formErrors.type }}</div>
                                            </div>
                                        </md-input-container>
                                        <div class="form-group text-right topspace50">
                                            <md-button class="btn md-raised md-primary btn-default" type="button"
                                                       md-ink-ripple="#e9e9e9" ng-click="vm.update($event)">
                                                <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate"
                                                                      ng-show="vm.loading" md-diameter="30">
                                                </md-progress-circular>
                                                <span ng-hide="vm.loading">Save</span>
                                            </md-button>
                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Account">
                                    <md-content class="md-padding">
                                        <div ng-messages="vm.errors" class="text-center red">
                                            <div ng-message="non_field_errors">{{ vm.formErrors.non_field_errors }}</div>
                                        </div>
                                        <md-input-container class="md-block">
                                            <label>Email</label>
                                            <input name="email" ng-model="vm.profile.email" type="email" required
                                                   md-maxlength="254">
                                            <div ng-messages="userForm.email.$error">
                                                <div ng-message="md-maxlength">Cannot exceed 254 characters.</div>
                                                <div ng-message="required" class="my-message">Email is required.</div>
                                                <div ng-message="email" class="my-message">Invalid email format.</div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="email">{{ vm.formErrors.email }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Password</label>
                                            <input name="password" ng-model="vm.profile.password" type="password"
                                                   ng-minlength="7" md-maxlength="128">
                                            <div ng-messages="userForm.password.$error">
                                                <div ng-message="md-maxlength">Cannot exceed 128 characters.</div>
                                                <div ng-message="minlength">Your password needs to be at least 7
                                                    characters.
                                                </div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="password">{{ vm.formErrors.password }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Confirm Password</label>
                                            <input name="confirm_password" ng-model="vm.profile.confirm_password"
                                                   type="password" ng-minlength="7" md-maxlength="128">
                                            <div ng-messages="userForm.confirm_password.$error">
                                                <div ng-message="md-maxlength">Cannot exceed 128 characters.</div>
                                                <div ng-message="minlength">Your password needs to be at least 7
                                                    characters.
                                                </div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="confirm_password">{{ vm.formErrors.confirm_password }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Username</label>
                                            <input ng-model="vm.profile.username" type="text" disabled>
                                        </md-input-container>
                                        <div class="form-group text-right">
                                            <md-button type="button" ng-click="vm.destroy()" disabled
                                                       class="btn md-raised md-accent btn-default pull-left">Delete
                                            </md-button>
                                            <md-button class="btn md-raised md-primary btn-default" type="button"
                                                       md-ink-ripple="#e9e9e9" ng-click="vm.update($event)">
                                                <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate"
                                                                      ng-show="vm.loading" md-diameter="30">
                                                </md-progress-circular>
                                                <span ng-hide="vm.loading">Save</span>
                                            </md-button>
                                        </div>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-card-content>
                    </md-card>
                </form>
            </div>
        </div>
    </div>
</div>