<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <md-card>
                <md-card-title>
                    <h1 class="cardformheader">Set Password</h1>
                </md-card-title>
                <md-card-content>
                    <form name="userForm" ng-submit="vm.setPassword()">
                        <div ng-messages="vm.errors" class="red">
                            <div ng-message="non_field_errors">{{ vm.formErrors.non_field_errors }}</div>
                        </div>
                        <md-input-container class="md-block">
                            <label>New Password</label>
                            <input required name="new_password" ng-model="vm.new_password" type="password"
                                   ng-minlength="8" md-maxlength="32">
                            <div ng-messages="userForm.new_password.$error">
                                <div ng-message="md-maxlength">Cannot exceed 32 characters.</div>
                                <div ng-message="required">Password is required.</div>
                                <div ng-message="minlength">Your password needs to be at least 8 characters.</div>
                            </div>
                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                <div ng-message="new_password">{{ vm.formErrors.new_password }}</div>
                            </div>
                        </md-input-container>
                        <div class="form-group text-right">
                            <md-button class="md-raised md-primary" md-ink-ripple="#e9e9e9"
                                       type="submit"><span class="ng-scope">Submit</span>
                            </md-button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
            <a href="/login"><span class="white">Login</span></a>
        </div>
    </div>
</div>