<div class="row">
    <div class="col-xs-12">
        <md-card>
            <img ng-src="{{ ::card.thumbnail }}" class="md-card-image" name="{{ ::card.id }}" alt="{{ ::card.date }}"
                 style="max-width: 500px;" id="{{ ::card.dish }}" ng-click="::callback($event)">
            <md-card-title>
                <md-card-title-text>
                    <a href="#" id="{{ ::card.dish }}" name="{{ ::card.id }}" ng-click="::callback($event)"
                       alt="{{ ::card.date }}"><span class="md-headline">{{ ::card.name }}</span></a>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                {{ ::card.description }}
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <a ng-href="/+{{ ::card.chef }}">+{{ ::card.chef }}</a>
                    <span class="float-right"><div ng-if="::(!card.deliverable)"><i class="fa fa-exclamation"></i>
                        {{ ::card.distance.mi }} miles away
                        <md-tooltip md-direction="bottom">Pickup Only</md-tooltip>
                    </div>
                        <div ng-if="::(card.deliverable)">
                            <i class="fa fa-car orange"></i> {{ ::card.distance.mi }} miles away
                            <md-tooltip md-direction="bottom">Delivery Available</md-tooltip>
                    </span>
            </md-card-actions>
        </md-card>
    </div>
</div>