<div class="row">
    <div class="col-sm-12">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <md-title>
                        <a href="/+{{ card.chef.username }}">
                            +{{ card.chef.username }}
                        </a>
                    </md-title>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="http://images-cdn.9gag.com/photo/aX9qARV_460s.jpg" class="md-card-image" alt="Washed Out"
                 src="http://images-cdn.9gag.com/photo/aX9qARV_460s.jpg">
            <md-card-title>
                <a href="#"><span class="md-headline">{{ card.name }}</span></a>
            </md-card-title>
            <md-card-content>
                {{ card.description }}
            </md-card-content>
        </md-card>
    </div>
</div>