<div class="greybackground">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <md-card ng-show="vm.dishes" class="single-card">
                    <md-card-title>
                        <h1 class="cardformheader">My Dishes</h1>
                    </md-card-title>
                    <md-card-content>
                        <div id="toastBounds"></div>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Schedule">
                                <md-content class="md-padding">
                                    <div ng-messages="vm.errors" class="text-center red">
                                        <div ng-message="non_field_errors">{{ vm.formErrors.non_field_errors }}</div>
                                    </div>
                                    <div layout-gt-xs="row">
                                        <md-datepicker ng-model="vm.schedule.date" md-placeholder="Enter date"
                                                       md-min-date="vm.schedule.minDate" flex-gt-xs class="topspace12"
                                                       md-max-date="vm.schedule.maxDate"></md-datepicker>
                                        <md-input-container class="md-block" flex-gt-xs>
                                            <label>Search</label>
                                            <input ng-model="vm.search">
                                        </md-input-container>
                                    </div>
                                    <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                        <div ng-message="date">{{ vm.formErrors.date }}</div>
                                    </div>
                                    <div ng-hide="vm.dishes.length"><h3>You have to add a dish before you can
                                        schedule.</h3></div>
                                    <md-card ng-repeat="dish in vm.dishes | filter:{ name: vm.search }"
                                             on-repeat="vm.repeatFn">
                                        <md-card-content style="padding: 0;">
                                            <div class="grid cs-style-3">
                                                <div class="grid-item">
                                                    <figure>
                                                        <div class="dish-list-container"
                                                             ng-style="{'background-image':'url({{ dish.image || '/static/img/dish_default.jpg' }})'}">
                                                        </div>
                                                        <figcaption>
                                                            <a href="#"><i class="fa fa-pencil"></i></a>
                                                            <h3>{{ dish.name }}</h3>
                                                            <span>{{ dish.cuisine || 'Specialty' }}</span> Cuisine
                                                            <md-button class="md-raised md-primary"
                                                                       md-ink-ripple="#e9e9e9" type="button"><span
                                                                    class="ng-scope">Add</span>
                                                            </md-button>
                                                        </figcaption>
                                                    </figure>
                                                </div>
                                            </div>
                                        </md-card-content>
                                    </md-card>
                                </md-content>
                            </md-tab>
                            <md-tab label="New">
                                <form name="userForm" class="settings" ng-submit="vm.add()"
                                      enctype="multipart/form-data">
                                    <md-content class="md-padding">
                                        <div ng-messages="vm.errors" class="text-center red">
                                            <div ng-message="non_field_errors">{{ vm.formErrors.non_field_errors }}</div>
                                        </div>
                                        <div ng-messages="vm.errors" class="red">
                                            <div ng-message="image">{{ vm.formErrors.image }}</div>
                                        </div>
                                        <md-input-container class="md-block text-right">
                                            <ng-cropper-upload name="image" image="vm.newdish.image" ratio="0"
                                                               crop="vm.newdish.crop" preview="cropperPreview">
                                            </ng-cropper-upload>
                                            <div id="cropperPreview" class="text-center preview preview-dish">
                                                <img ngf-src="vm.newdish.image || '/static/img/dish_default.jpg'"
                                                     class="dishlg" id="cropperPreviewImg"/>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block topspace50">
                                            <label>Dish Name</label>
                                            <input name="name" ng-model="vm.newdish.name" type="text"
                                                   md-maxlength="50">
                                            <div ng-messages="userForm.name.$error">
                                                <div ng-message="md-maxlength">Cannot exceed 50 characters.</div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="name">{{ vm.formErrors.name }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Description</label>
                                            <textarea name="description" ng-model="vm.newdish.description"
                                                      md-maxlength="500" rows="5"
                                                      md-select-on-focus></textarea>
                                            <div ng-messages="userForm.description.$error">
                                                <div ng-message="maxlength">Cannot exceed 500 characters.</div>
                                            </div>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="description">{{ vm.formErrors.description }}</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Cuisine</label>
                                            <md-select ng-model="vm.newdish.cuisine">
                                                <md-option ng-repeat="cuisine in vm.cuisines"
                                                           value="{{ cuisine }}">{{ cuisine }}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="vm.errors" class="red" md-auto-hide="false">
                                                <div ng-message="cuisine">{{ vm.formErrors.cuisine }}</div>
                                            </div>
                                        </md-input-container>
                                        <div class="form-group text-right">
                                            <md-button class="md-raised md-primary" type="button"
                                                       md-ink-ripple="#e9e9e9" ng-click="vm.add($event)">
                                                <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate"
                                                                      ng-show="vm.loading" md-diameter="30">
                                                </md-progress-circular>
                                                <span ng-hide="vm.loading">Save</span>
                                            </md-button>
                                        </div>
                                    </md-content>
                                </form>
                            </md-tab>
                        </md-tabs>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>