<md-dialog aria-label="Cropper">
    <form>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="cropArea">
                <spinner ng-show="vm.loading">Loading...</spinner>
                <img ng-src="{{ vm.image }}" class="cropImage"
                     ng-cropper
                     ng-cropper-proxy="vm.cropperProxy"
                     ng-cropper-show="vm.showEvent"
                     ng-cropper-hide="vm.hideEvent"
                     ng-cropper-options="vm.options">
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="vm.crop()" ng-disabled="vm.loading" style="margin-right:20px;" class="orange">
                Crop
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>