<div class="container-fluid index-container-fluid">
    <div class="row">
        <div class="footer">
            <div class="col-sm-6">
                <h1 class="white">Your <span class="orange">Chef</span> Next Door</h1>
                <h3 class="white">Homemade food made daily from fresh local ingredients.</h3>
                <ul class="list-inline lead">
                    <li>
                        <md-button class="md-primary" md-ink-ripple="#e9e9e9"  href="/dishes">Explore</md-button>
                    </li>
                    <li>
                        <md-button class="md-raised md-primary" md-ink-ripple="#e9e9e9" href="/register">
                            <span class="ng-scope">Sign Up</span>
                            <div class="md-ripple-container"></div>
                        </md-button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>