<header id="header" role="banner">
    <nav class="navbar navbar-white navbar-transparent" role="navigation" ng-controller="navbarController as vm">
        <div class="navbar-top clearfix hidden-xs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-left">
                            <ul class="navbar-top-nav clearfix">
                                <li><a href="/" class="brand">C</a></li>
                                <li><i class="fa fa-search"></i>
                                    <input type="text" class="search" placeholder="Search Food"></li>
                            </ul>
                        </div>
                        <div class="pull-right">
                            <div class="navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li ng-class="{active: vm.route.current.activetab == 'dishes'}">
                                        <a href="/dishes" ng-click="vm.isCollapsed = true">Dishes</a>
                                    </li>
                                    <li ng-class="{active: vm.route.current.activetab == 'chefs'}">
                                        <a href="/chefs" ng-click="vm.isCollapsed = true">Chefs</a>
                                    </li>
                                    <li uib-dropdown is-open="vm.isOpen" ng-show="vm.isAuthenticated" class="right15">
                                        <a href="#" uib-dropdown-toggle>+{{ vm.user.username }}</a>
                                        <ul uib-dropdown-menu role="menu">
                                            <li role="menuitem">
                                                <a href="/+{{ vm.user.username }}"
                                                   ng-click="vm.isCollapsed = true">Profile</a>
                                            </li>
                                            <li role="menuitem">
                                                <a href="/+{{ vm.user.username }}/settings"
                                                   ng-click="vm.isCollapsed = true">Settings</a>
                                            </li>
                                            <li role="menuitem">
                                                <a href="javascript:void(0)"
                                                   ng-click="vm.isCollapsed = true; vm.logout()">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="right15"
                                        ng-hide="vm.isAuthenticated || vm.route.current.activetab == 'login'">
                                        <a href="/login" ng-click="vm.isCollapsed = true">Login</a>
                                    </li>
                                    <li class="right15"
                                        ng-show="!vm.isAuthenticated && vm.route.current.activetab == 'login'">
                                        <a href="/register" ng-click="vm.isCollapsed = true">Sign Up</a>
                                    </li>
                                    <li class="border-left"><a href="#" ng-click="vm.isCollapsed = true"><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" ng-click="vm.isCollapsed = true"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-inner sticky-menu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <a class="navbar-brand text-uppercase withoutripple" ng-click="vm.isCollapsed = true"
                               ng-class="{'visible-xs': $root.hideHeader}" href="/">Crav<span
                                    class="colortext">us</span></a>
                            <button type="button" class="navbar-toggle btn-circle pull-right collapsed"
                                    ng-click="vm.isCollapsed = !vm.isCollapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="hidden-md hidden-lg hidden-sm">
                            <div class="navbar-collapse" ng-class="{collapse: vm.isCollapsed}">
                                <ul class="nav navbar-nav">
                                    <li ng-class="{active: vm.route.current.activetab == 'dishes'}">
                                        <a href="/dishes" ng-click="vm.isCollapsed = true">Dishes</a>
                                    </li>
                                    <li ng-class="{active: vm.route.current.activetab == 'chefs'}">
                                        <a href="/chefs" ng-click="vm.isCollapsed = true">Chefs</a>
                                    </li>
                                    <li ng-show="vm.isAuthenticated"
                                        ng-class="{active: vm.route.current.activetab == 'user'}">
                                        <a href="/+{{ vm.user.username }}"
                                           ng-click="vm.isCollapsed = true">+{{ vm.user.username }}</a>
                                    </li>
                                    <li ng-show="vm.isAuthenticated"
                                        ng-class="{active: vm.route.current.activetab == 'settings'}">
                                        <a href="/+{{ vm.user.username }}/settings"
                                           ng-click="vm.isCollapsed = true">Settings</a>
                                    </li>
                                    <li ng-show="vm.isAuthenticated">
                                        <a href="javascript:void(0)"
                                           ng-click="vm.isCollapsed = true; vm.logout()">Logout</a>
                                    </li>
                                    <li ng-hide="vm.isAuthenticated || vm.route.current.activetab == 'login'">
                                        <a href="/login" ng-click="vm.isCollapsed = true">Login</a>
                                    </li>
                                    <li class="right15" ng-hide="vm.isAuthenticated"
                                        ng-show="vm.route.current.activetab == 'login'">
                                        <a href="/register" ng-click="vm.isCollapsed = true">Sign Up</a>
                                    </li>
                                    <li class="border-left"><a href="#" ng-click="vm.isCollapsed = true"><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" ng-click="vm.isCollapsed = true"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>