/* fix outlines on focus */
*:focus {
    outline: none;
}

html, body {
    width: 100% !important;
    height: 100% !important;
    background: #e9e9e9 fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden !important;
}

body {
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    font-size: 1.4rem;
    line-height: 23px;
    color: #444444;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    overflow-y: scroll !important;
}

img {
    /*Bug Fix: https://github.com/angular/material/issues/6841*/
    min-height: 0;
    min-width: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 46px;
}

h2 {
    font-family: 'Droid Serif', serif;
    font-weight: 600;
    line-height: 30px;
}

h3 {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 23px;
}

p {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

/*.row {*/
/*margin-right: 0;*/
/*margin-left: 0;*/
/*}*/

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,*/
/*.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6,*/
/*.col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9,*/
/*.col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11,*/
/*.col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {*/
/*padding-right: 0;*/
/*padding-left: 0;*/
/*}*/

.default-margin-left {
    margin-left: 8px;
}

.default-margin-right {
    margin-right: 8px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.orange {
    color: #e67e22 !important;
}

.red {
    color: rgb(213, 0, 0) !important;
}

.grey {
    color: #444444 !important;
}

.white {
    color: #e9e9e9 !important;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: #adadad;
}

.btn-default {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #e9e9e9 !important;
}

.btn-themed {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #e67e22 !important;
}

.btn-add-new-dish {
    position: fixed;
}

.no-dishes-here {
    text-align: center;
}

.dish .dish__meta {
    font-weight: bold;
    text-align: right;
    padding-bottom: 19px;
}

.dish .dish__meta a:hover {
    text-decoration: none;
}

.account .account__header {
    margin-bottom: 20px;
    text-align: center;
}

.account .account__username {
    font-weight: bold;
}

.angle:before,
.side-menu .navbar-nav .angle:before {
    content: "\f107";
}

.cardformheader {
    margin-top: 0 !important;
    margin-bottom: 15px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    color: #e67e22;
}

h1,
.h1 {
    font-size: 43px;
    margin-bottom: 20px;
}

h2,
.h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

h3,
.h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

h4,
.h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

label {
    font-size: 15px;
    margin: 0;
    font-weight: 400;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    color: inherit;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0 0 20px;
}

.lead {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.lead.small {
    font-size: 15px;
}

h5.lead {
    font-weight: 600;
}

a {
    -webkit-transition: color .35s;
    transition: color .35s;
}

a:active,
a:hover,
a:focus {
    color: #e9e9e9;
    text-decoration: none;
}

a:active,
a:focus,
input,
select,
textarea {
    outline: none;
}

iframe {
    border: none;
}

img.pull-right {
    margin-left: 20px;
    margin-bottom: 20px;
}

img.pull-left {
    margin-right: 20px;
    margin-bottom: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #7a7a7a;
}

hr.gray {
    border-color: #eaeaea;
}

blockquote {
    position: relative;
    padding: 8px 0 8px 25px;
    margin: 30px 0;
    font-size: 16px;
    border-left: 2px solid transparent;
}

blockquote.blockquote-reverse {
    padding: 8px 25px 8px 0;
    margin: 30px 0;
    border-left: none;
    border-right: 2px solid transparent;
}

blockquote p {
    margin-bottom: 15px;
}

blockquote cite {
    font-size: 16px;
    font-weight: 700;
}

blockquote:after {
    content: '';
    display: block;
    position: absolute;
    left: 1px;
    top: 0;
    width: 2px;
    height: 100%;
}

blockquote.blockquote-reverse:after {
    left: auto;
    right: 1px;
}

.blockquote-icon {
    padding-left: 50px;
    padding-top: 25px;
    border-left: none;
}

.blockquote-icon:after,
.blockquote-reverse.blockquote-icon:after {
    display: none;
}

.blockquote-icon.blockquote-reverse {
    padding-left: 0;
    padding-right: 50px;
    border-right: none;
}

.blockquote-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: '\f10d';
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 3rem;
    z-index: 0;
}

.blockquote-icon.blockquote-reverse:before {
    left: auto;
    right: 5px;
    content: '\f10e';
}

.highlight {
    padding: 0 0.3em;
    background: #eaeaea;
}

.highlight.reverse {
    color: #fff;
    background: #505050;
}

.highlight.first-color,
.highlight.second-color,
.highlight.third-color,
.text-white,
a.text-white {
    color: #fff;
}

a.text-white:hover,
a.text-white:focus {
    color: #eaeaea;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-dark {
    background-color: #2a2a2a;
    color: #9a9a9a;
}

.bg-custom {
    color: #e1e1e1;
}

.bg-gray,
#wrapper.bg-gray {
    background-color: #e1e1e1;
}

.bg-lightgray {
    background-color: #f2f2f2;
}

.bg-lightgrayv2 {
    background-color: #f8f8f8;
}

.bg-lightergray {
    background-color: #fafafa;
}

.bg-darkgray {
    background-color: #b7b7b7;
}

.text-white {
    color: #fff;
}

.text-lightgray {
    color: #f1f1f1;
}

.text-gray {
    color: #e1e1e1;
}

.text-darkgray {
    color: #aeaeae;
}

.text-muted {
    color: #7a7a7a;
}

.text-darkmuted {
    color: #5e5e5e;
}

.text-dark {
    color: #2a2a2a;
}

#header {
    border-top: 2px solid transparent;
    position: relative;
}

#header.no-border {
    border: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    color: rgba(241, 241, 241, 1);
}

.navbar-top {
    background-color: rgba(0, 0, 0, 0.65) !important;
    border-bottom: 1px solid transparent;
}

.navbar-top.no-bg {
    background-color: transparent;
}

.navbar-top.navbar-color {
    border-bottom: none;
}

.social-icon {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    margin: 0 10px 20px;
    color: #6d6d6d;
    border-radius: 4px;
}

.navbar-top.navbar-color .social-icon,
.navbar-top.navbar-color .navbar-top-nav > li > a,
.navbar-top.navbar-color .dropdown-toggle {
    color: #eee !important;
}

.navbar-top.navbar-color .social-icon:hover,
.navbar-top.navbar-color .navbar-top-nav > li > a:hover,
.navbar-top.navbar-color .dropdown-toggle:hover,
.navbar-top.navbar-color .open > .dropdown-toggle {
    color: #fff !important;
}

.navbar-top.navbar-color .navbar-top-nav li:after,
.navbar-top.navbar-color .social-icon:after {
    color: #bababa !important;
}

.navbar-top-nav li:last-child:after,
.navbar-top .social-icon:last-child:after {
    content: '';
    padding-left: 0;
}

.navbar-top .social-icon {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 38px;
    padding-right: 0;
    padding-left: 10px;
    margin-left: 0;
}

.navbar-top .social-icons {
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
}

.navbar-top .pull-right .social-icon:last-child {
    margin-right: 0;
}

.navbar-top-nav li {
    float: left;
    margin-right: 10px;
}

.navbar-top-nav li i,
.navbar-top .account-dropdown i {
    margin-right: 8px;
}

.navbar-top .dropdowns-container.pull-right {
    padding-right: 15px;
    margin-right: 30px;
    border-right: 1px solid transparent;
}

.navbar-top .dropdowns-container.pull-right.last {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.navbar-top.navbar-color .dropdowns-container.pull-right {
    border-right: none;
    padding-right: 0;
}

.navbar-top .dropdown-toggle {
    display: block;
}

.navbar-top.navbar-color .social-icon,
.navbar-top.navbar-color .navbar-top-nav > li > a,
.navbar-top.navbar-color .dropdown-toggle {
    color: #eee !important;
}

.navbar-top.navbar-color .social-icon:hover,
.navbar-top.navbar-color .navbar-top-nav > li > a:hover,
.navbar-top.navbar-color .dropdown-toggle:hover,
.navbar-top.navbar-color .open > .dropdown-toggle {
    color: #fff !important;
}

.navbar-header.fullwidth {
    float: none;
}

.navbar-brand {
    position: relative;
    float: left;
    height: 80px;
    padding: 23px 0 25px;
    font: 700 32px/1 'Ralewau', serif;
    border-right: 1px solid transparent;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    color: #eaeaea;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: #eaeaea;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

.navbar-brand.pull-right {
    border-right: none;
    border-left: 1px solid transparent;
}

.clear-margin-right {
    margin-right: 0 !important;
}

.navbar-transparent {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}

.navbar-transparent .navbar-top {
    background-color: transparent;
}

.navbar-white.navbar-transparent .navbar-top {
    border-bottom-color: #e1e1e1;
}

.navbar-transparent .navbar-top {
    background-color: transparent;
}

.navbar-white.navbar-transparent .navbar-top a {
    color: #f1f1f1;
}

.navbar-white.navbar-transparent .navbar-top a:hover,
.navbar-white.navbar-transparent .navbar-top a:focus {
    background-color: transparent;
}

.navbar-nav > li > a,
.navbar-nav li a {
    display: block;
    padding: 10px 0;
    margin-right: 15px;
    font: 700 14px/20px 'Open Sans', Verdana, sans-serif;
    text-transform: uppercase;
    min-height: 40px;
}

.navbar-nav .megamenu-title {
    font-size: 15px;
    margin: 10px 0 6px;
}

.navbar-nav li li a {
    font-size: 14px;
    white-space: normal;
}

.navbar-nav li .dropdown-menu a > i {
    margin-right: 10px;
}

.navbar-nav .angle {
    margin: 0 0 0 4px;
}

.navbar-nav ul .angle {
    float: right;
    margin: 3px 0 0;
}

.navbar-btn {
    height: 32px;
    line-height: 32px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 10px;
}

.navbar-btn.navbar-right,
.navbar-btn.pull-right {
    margin-left: 0;
    margin-right: 10px;
}

.navbar-btn.navbar-left {
    margin-left: 0;
    margin-right: 10px;
}

.navbar-btn.navbar-right.last,
.navbar-btn.pull-right.last {
    margin-right: 0;
}

.navbar-left .navbar-btn.last,
.pull-left .navbar-btn.last {
    margin-left: 0;
}

.navbar-btn.btn-icon {
    width: 32px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    text-align: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.btn-transparent {
    background-color: transparent !important;
}

.btn-circle {
    border-radius: 50%;
}

.navbar-toggle,
.btn-toggle {
    position: relative;
    float: left;
    padding: 8px 9px;
    margin: 15px;
    line-height: 0;
    background-image: none;
    border: none;
    border-radius: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}

.btn-toggle.pull-right {
    margin-left: 0;
}

.navbar-toggle.pull-right {
    margin-left: -5px;
}

.navbar-toggle .icon-bar,
.btn-toggle .icon-bar {
    height: 2px;
    margin: 7px 0;
    border-radius: 0;
    position: relative;
    background-color: #eaeaea;
}

.navbar-toggle .icon-bar,
.btn-toggle .icon-bar,
.navbar-toggle .icon-bar:before,
.btn-toggle .icon-bar:before,
.navbar-toggle .icon-bar:after,
.btn-toggle .icon-bar:after {
    height: 2px;
    border-radius: 4px;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}

.navbar-toggle .icon-bar:before,
.navbar-toggle .icon-bar:after,
.btn-toggle .icon-bar:before,
.btn-toggle .icon-bar:after {
    content: '';
    position: absolute;
    left: 0;
}

.navbar-toggle .icon-bar:before,
.btn-toggle .icon-bar:before {
    top: 4px;
}

.navbar-toggle .icon-bar:after,
.btn-toggle .icon-bar:after {
    top: -4px;
}

.navbar-toggle.opened .icon-bar,
.btn-toggle.opened .icon-bar {
    background: transparent !important;
}

.navbar-toggle.opened .icon-bar:before,
.navbar-toggle.opened .icon-bar:after,
.btn-toggle.opened .icon-bar:before,
.btn-toggle.opened .icon-bar:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
}

.navbar-toggle.opened .icon-bar:before,
.btn-toggle.opened .icon-bar:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.navbar-toggle.opened .icon-bar:after,
.btn-toggle.opened .icon-bar:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.navbar-nav li > .dropdown-menu {
    border: none;
    border-top: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.65) !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}

.brand {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 16px;
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.search {
    transition: 150ms background, 150ms color;
    color: rgba(255, 255, 255, .5);
    padding-right: 0;
    padding-left: 10px;
    background: rgba(0, 0, 0, .13);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    height: 34px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    margin-top: 2px
}

.search_query::-webkit-input-placeholder {
    transition: 150ms color;
    text-overflow: ellipsis !important;
    color: rgba(255, 255, 255, .5);
    font-weight: 500
}

.search_query::-moz-placeholder,
.search_query:-moz-placeholder {
    transition: 150ms color;
    text-overflow: ellipsis !important;
    color: rgba(255, 255, 255, .5);
    font-weight: 500
}

.search_query:-ms-input-placeholder {
    transition: 150ms color;
    text-overflow: ellipsis !important;
    color: rgba(255, 255, 255, .5);
    font-weight: 500
}

.search:active,
.search:focus {
    transition: 75ms background, 75ms color;
    background: #fff;
    color: #444;
    font-weight: 400
}

.search:active::-webkit-input-placeholder,
.search:focus::-webkit-input-placeholder {
    transition: 75ms background, 75ms color;
    background: #fff;
    color: #444;
    font-weight: 400
}

.search:active::-moz-placeholder,
.search:focus::-moz-placeholder,
.search:active:-moz-placeholder,
.search:focus:-moz-placeholder {
    transition: 75ms background, 75ms color;
    background: #fff;
    color: #444;
    font-weight: 400
}

.search:active:-ms-input-placeholder,
.search:focus:-ms-input-placeholder {
    transition: 75ms background, 75ms color;
    background: #fff;
    color: #444;
    font-weight: 400
}

.navbar-top-nav li i {
    position: relative;
    bottom: 2px;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1600px;
}

.well {
    border-radius: 5px !important;
}

.deckgrid[deckgrid]::before {
    content: '5 .column.column-1-5';
    font-size: 0;
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-1 {
    width: 100%;
}

.deckgrid .column-1-2 {
    width: 50%;
}

.deckgrid .column-1-3 {
    width: 33.3333%;
}

.deckgrid .column-1-4 {
    width: 25%;
}

.deckgrid .column-1-5 {
    width: 20%;
}

.greybackground {
    background: #e9e9e9 fixed center;
}

.footer {
    margin-top: 30%;
    width: 100%;
}

.chefsignup > a {
    background-color: #e67e22;
    margin-left: 15px;
    padding: 10px 5px !important;
}

.chefsignup > a:hover {
    background-color: #e9e9e9 !important;
}

.dropdown-menu > li > a {
    margin-left: 5px;
}

.margin-right0 {
    margin-right: 0 !important;
}

.md-button {
    font-weight: 700;
}

.profile {
    margin-top: 15px;
}

.profile-container {
    width: 100%;
    margin-top: -10px;
    background-color: #fff;
    min-height: 275px;
    -webkit-box-shadow: 0 2px 2px -1px #7a7a7a;
    -moz-box-shadow: 0 2px 2px -1px #7a7a7a;
    -o-box-shadow: 0 2px 2px -1px #7a7a7a;
    box-shadow: 0 2px 2px -1px #7a7a7a;
}

.food-container {
    width: 100%;
    margin-top: 15px;
    background-color: #fff;
}

.single-card {
    margin: 10px 0;
}

.margintop150 {
    margin-top: 150px;
}

.avatar {
    margin: 20px 0;
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #eee;
}

.name {
    margin: 15px 0 0 0;
}

.edit {
    position: absolute;
    right: 0;
    margin: 10px !important;
    color: #e67e22;
}

.profile-divider {
    margin-top: -85px;
    margin-bottom: 75px;
}

.status {
    margin-top: 10px;
    color: #e67e22;
}

.status > i {
    margin-right: 10px;
    margin-left: 10px;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 800px;
    height: 600px;
    position: relative;
}

.cropImage {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
}

.cropper-bg {
    background-image: url('/static/img/gridme.png') !important;
}

.preview {
    overflow: hidden;
    margin: auto;
}

.preview-avatar {
    width: 250px;
    height: 250px;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #e9e9e9;
}

.avatarlg {
    width: 250px;
    height: 250px;
}

spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 25%;
}

#toast-container {
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
}

.toast-black .toast {
    background-color: #444444;
}

#toast-container > .toast {
    background-image: none !important;
    margin: 0 auto;
}

#toast-container > div {
    -moz-box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    -webkit-box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    border-radius: 2px !important;
    opacity: 1;
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}

#toast-container > .toast-warning:before {
    content: "\f003";
}

#toast-container > .toast-error:before {
    content: "\f00d";
}

#toast-container > .toast-info:before {
    content: "\f129";
}

#toast-container > .toast-success:before {
    content: "\f00c";
}

.latest-dishes {
    background-color: #e67e22;
    color: #f5f5f5;
    padding: 0 !important;
}

.latest-dish-wrapper {
    padding: 15px;
}

.latest-dish {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
}

.latest-dishes > md-tabs > md-tabs-wrapper {
    background-color: transparent !important;
}

.latest-dishes > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
    background: #f5f5f5 !important;
}

md-card {
    border-radius: 1px;
    background-color: #f5f5f5;
}

md-progress-circular {
    margin: 0 auto;
}

md-card md-card-title {
    flex-basis: auto;
    padding-bottom: 0;
}

md-content {
    overflow-x: hidden;
}

@media screen and (max-width: 479px) {
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }

    .container-fluid {
        overflow-y: hidden;
    }

    .latest-dish-wrapper {
        padding: 2px 0 0 0;
    }

    .latest-dish {
        padding-right: 1px;
        padding-left: 1px;
        padding-bottom: 2px;
    }

    .cropArea {
        width: 300px;
        height: 225px;
    }

    md-dialog {
        max-width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .deckgrid[deckgrid]::before {
        content: '2 .column.column-1-2';
    }

    .container-fluid {
        padding-right: 30px;
        padding-left: 30px;
    }

    .cropArea {
        width: 360px;
        height: 270px;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        height: 80px !important;
        padding: 23px 0 !important;
    }

    .navbar-inner {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }

    .navbar-nav .open .dropdown-menu .dropdown-menu {
        padding-left: 10px;
    }

    .navbar-nav .dropdown-menu.pull-right {
        float: none !important;
    }

    .navbar-nav .dropdown-menu {
        border-radius: 0;
    }

    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu li a {
        line-height: 20px;
    }

    .navbar-nav div[class^="col"],
    .navbar-nav div[class*=' col'] {
        padding: 0 0 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid transparent;
    }

    .navbar-nav div[class^="col"]:last-child,
    .navbar-nav div[class*=' col']:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }

    .navbar-nav.pull-right {
        float: none !important;
    }

    .navbar-header .row {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-header .col-sm-4 {
        padding: 0;
    }

    .navbar-nav .angle {
        float: right;
        font-size: 16px;
        margin: 2px 0 0;
    }

    .navbar-nav .open > .dropdown-menu {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    .navbar-header .navbar-btn.pull-right.last {
        margin-right: 15px;
    }

    .navbar-top .dropdowns-container.pull-right {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
    }

    .navbar-top .account-dropdown.pull-right {
        margin-left: 15px;
    }

    .navbar-transparent {
        background-color: rgba(0, 0, 0, 0.65) !important;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        padding-right: 100px;
        padding-left: 100px;
    }

    .navbar {
        border-radius: 0;
    }

    .border-left {
        border-left: 1px solid #e1e1e1;
    }

    .left15 {
        margin-left: 15px !important;
    }

    .lead {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .deckgrid[deckgrid]::before {
        content: '3 .column.column-1-3';
    }

    .navbar-brand {
        height: 90px !important;
        padding: 26px 0 28px !important;
        font-size: 36px;
    }

    .container .navbar-brand.pull-right {
        padding-left: 15px;
        margin-left: 0;
    }

    .navbar-smaller .navbar-brand {
        height: 60px;
        font-size: 32px;
        padding: 14px 15px;
    }

    .navbar-brand.clear-padding-left {
        padding-left: 0 !important;
    }

    .navbar-brand.clear-padding-right {
        padding-right: 0 !important;
    }

    .navbar-brand-center {
        float: none;
        border: none;
        display: block;
        text-align: center;
    }

    .navbar-brand-center.bordered {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    .search {
        width: 200px;
    }

    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
        padding-right: 0;
    }

    .navbar-collapse.collapse-row {
        border-top: 1px solid transparent;
    }

    .navbar-header {
        float: left;
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header {
        margin-right: 0;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        padding: 0;
    }

    .navbar-nav {
        float: right;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-right.last {
        margin-right: 0;
    }

    .navbar-nav-border > li > a {
        border-right: 1px solid transparent;
    }

    .collapse-row .navbar-nav > li > a {
        padding: 17.5px 15px;
    }

    .navbar-nav > li:first-child > a {
        padding-left: 0;
    }

    .navbar-nav-border > li:first-child > a {
        border-left: 1px solid transparent;
        padding-left: 15px;
    }

    .navbar-nav .dropdown-menu.megamenu li a,
    .navbar-nav .megamenu-title {
        padding: 6px 0;
        white-space: normal;
    }

    .navbar-nav .megamenu-title {
        padding-bottom: 15px;
        margin: 0 0 10px;
        border-bottom: 1px solid transparent;
    }

    .navbar-nav li > .dropdown-menu {
        margin: 0;
        border-radius: 0;
        min-width: 220px;
        padding: 7px 0;
    }

    .navbar-nav li > .dropdown-menu.megamenu {
        float: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav .sub-dropdown .dropdown-menu {
        right: auto;
        left: 100%;
        top: 0;
        border-top: none;
    }

    .navbar-nav li.reverse > .dropdown-menu {
        left: auto;
        right: 0;
    }

    .navbar-nav .sub-dropdown .dropdown-menu.pull-right,
    .navbar-nav .reverse .sub-dropdown .dropdown-menu {
        left: auto;
        right: 100%;
    }

    .navbar li li a {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .navbar-nav ul .angle:before,
    .navbar-nav ul .open > .dropdown-toggle > .angle:before {
        content: '\f105';
    }

    .row .navbar-collapse.collapse-row {
        padding: 0;
    }

    .navbar-btn {
        height: 36px;
        line-height: 36px;
        margin-top: 27px;
        margin-bottom: 27px;
    }

    .navbar-btn.btn-icon {
        width: 36px;
        font-size: 14px;
    }

    .navbar-smaller .navbar-btn,
    .navbar-smaller .navbar-btn.btn-icon {
        height: 32px;
        width: 32px;
        line-height: 32px;
        font-size: 14px;
    }

    .navbar-smaller .navbar-btn {
        margin: 14px 0;
    }

    .btn-toggle {
        padding: 10px;
        margin: 27px 0 27px;
    }

    .cropArea {
        width: 500px;
        height: 375px;
    }
}

@media (max-width: 991px) {
    .navbar-top .pull-right .dropdown + .dropdown {
        margin-right: 15px;
    }

    h1,
    .h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    h2,
    .h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    h3,
    .h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .search {
        width: 150px;
    }
}

@media (min-width: 992px) {

    .navbar-brand {
        height: 100px !important;
        padding: 31px 0 33px !important;
        font-size: 42px;
    }

    .navbar-smaller .navbar-brand {
        height: 80px;
        padding: 19px 30px 21px;
        font-size: 40px;
    }

    .container .navbar-brand.pull-right {
        padding-left: 30px;
        margin-left: 0;
    }

    .navbar-top {
        padding: 0;
    }

    .navbar-header {
        float: left;
        border-bottom: none;
    }

    .navbar-nav {
        float: right;
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header {
        margin-right: 30px;
    }

    .container > .navbar-header.fullwidth,
    .container-fluid > .navbar-header.fullwidth {
        margin-right: 0;
    }

    .megamenu-container .container-fluid {
        padding: 0 30px;
    }

    .container .megamenu-container .container-fluid,
    .container .megamenu-container .container-fluid {
        padding: 0 15px;
    }

    .navbar-collapse {
        border-top: none;
        padding-right: 0;
    }

    .navbar-collapse.collapse-row {
        padding: 0 30px;
    }

    .navbar-btn {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .navbar-smaller .navbar-btn {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .btn-toggle {
        padding: 10px 11px;
        margin: 32px 0 32px;
    }

    .container-fluid .navbar-btn.navbar-right.last,
    .container-fluid .navbar-btn.pull-right.last {
        margin-right: 15px;
    }

    .navbar-top .dropdowns-container.pull-right.last .currency-dropdown .dropdown-toggle {
        padding-right: 0;
    }

    .navbar-top .account-dropdown.pull-right > .dropdown-toggle {
        padding: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .deckgrid[deckgrid]::before {
        content: '4 .column.column-1-4';
    }

    .search {
        width: 270px;
    }

    .cropArea {
        width: 640px;
        height: 480px;
    }
}

@media screen and (min-width: 1200px) {
    .deckgrid[deckgrid]::before {
        content: '5 .column.column-1-5';
    }

    .search {
        width: 400px;
    }
}

.sk-folding-cube {
    margin: 40px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

.view-container {
    position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.view-frame.ng-enter {
    -webkit-animation: 0.5s slideInRight;
    -moz-animation: 0.5s slideInRight;
    -o-animation: 0.5s slideInRight;
    animation: 0.5s slideInRight;
    z-index: 100;
}

.deckgrid .column.ng-enter {
    -webkit-animation: 0.5s fadeInUp;
    -moz-animation: 0.5s fadeInUp;
    -o-animation: 0.5s fadeInUp;
    animation: 0.5s fadeInUp;
}

/*.view-frame.ng-leave {*/
/*-webkit-animation: 0.5s slideOutLeft;*/
/*-moz-animation: 0.5s slideOutLeft-out;*/
/*-o-animation: 0.5s slideOutLeft;*/
/*animation: 0.5s slideOutLeft;*/
/*z-index: 99;*/
/*}*/

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOutLeft-out {
    to {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}