{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Home - CravUs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base href="/"/>
    {% include 'stylesheets.html' %}
</head>
{% verbatim %}
<body ng-app="cravus" ng-cloak ng-attr-style="background-image: url({{ bgimg }});">
{% endverbatim %}
<div id="bgndVideo" class="player"
     data-property="{videoURL:'https://www.youtube.com/watch?v=_5PwDjRcFo4', containment:'body', autoPlay:true, mute:true, startAt:0, realfullscreen:true, optimizeDisplay:true, loop:false, startAt:28, stopAt: 56, quality:'hd1080', showControls: false, showYTLogo:false}">
</div>
<div ng-include="'{% static "partials/layout/navbar.html" %}'"></div>
{% verbatim %}
<div class="view-container" role="main">
    <div id="globalToast"></div>
    <div ng-view ng-class="{ 'view-frame': route.current.animate }" ng-cloak></div>
</div>
{% endverbatim %}
{% include 'javascripts.html' %}
</body>
</html>