{% load compress %}
{% load staticfiles %}

{% compress js %}
    <script type="text/javascript" src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/cropper/dist/cropper.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/toastr/toastr.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-animate/angular-animate.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/ng-file-upload/ng-file-upload.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-bootstrap/ui-bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-aria/angular-aria.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-messages/angular-messages.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-material/angular-material.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/angular-ui-mask/dist/mask.js' %}"></script>
    {#    Deckgrid has been customized to add support for safari#}
    {#    https://github.com/akoenig/angular-deckgrid/issues/69 #}
    {#    Also added maxColumns attribute... do a compare to find changes  #}
    <script type="text/javascript" src="{% static 'lib/angular-deckgrid/angular-deckgrid.js' %}"></script>
    {#    End Comment#}
    <script type="text/javascript" src="{% static 'lib/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/ngstorage/ngStorage.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cravus.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/layout.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/controllers/navbarController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/controllers/indexController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/controllers/cropperController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/directives/ngCropperUpload.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/directives/ngCropper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/directives/spinner.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/services/ytplayerFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layout/services/cropperFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/authentication.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/services/authFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/controllers/registerController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authentication/controllers/loginController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profiles/profiles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profiles/services/profileFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profiles/services/chefFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profiles/services/addressFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profiles/controllers/profileController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/profiles/controllers/settingsController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dishes/dishes.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dishes/services/dishesFactory.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dishes/controllers/manageDishesController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dishes/controllers/listDishesController.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
{% endcompress %}